<app-nav></app-nav>
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<main class="profile-page">

  <section class="relative py-10 bg-white ">
    <div class="container mx-auto px-4">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg ">
        <div class="px-6 py-10">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center mb-10 mt-20">
              <div class="relative">
                <img alt="..." src="https://i.ibb.co/2hvfHHM/icon-5359553-960-720.png" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
              </div>
            </div>
          </div>
          <div class="text-center mt-12">
            <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">
              Nombre Usuario
            </h3>
            <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
              <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
              Correo: abisel56@gmail.com
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<a href="#" class="block mb-2 p-5 transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://i.ibb.co/H4FFzgy/publicidad.png) center; background-size: cover;">
</a>

<a href="#" class="block mb-2 py-5 transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://i.ibb.co/0VknBg3/publicidad2.png) center; background-size: cover;">
</a>

<app-footer></app-footer>
