

        <div class="bg-white h-full w-full px-5 pt-6 pb-20 overflow-y-auto">
            <div class="mb-3">
                <h1 class="text-3xl font-bold">Llega a tu destino:</h1>
            </div>
            <div class="mb-5">
                <a [routerLink]="['/ruta']" class="block rounded-lg relative p-5 transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://i.ibb.co/0hqKWtm/c3fb95d6b0de02a059f26d171420895c.jpg) center; background-size: cover;">
                    <div class="absolute top-0 right-0 -mt-3 mr-3">
                        <div class="rounded-full bg-indigo-500 text-white text-xs py-1 pl-2 pr-3 leading-none"><i class="mdi mdi-fire text-base align-middle"></i> <span class="align-middle">Click Aquí</span></div>
                    </div>
                    <div class="h-48"></div>
                    <h2 class="text-white text-2xl font-bold leading-tight mb-3 pr-5">Busca la mejor forma de trasladarte</h2>
                    <div class="flex w-full items-center text-sm text-gray-300 font-medium">
                        <div class="flex-1 flex items-center">
                            <div>Cancún, Q.Roo, México</div>
                        </div>
                    </div>
                </a>
            </div>

          

            <div class="mb-3">
                <h1 class="text-3xl font-bold">Visita estos lugares:</h1>
            </div>
            <div class="flex -mx-1 mb-5">
                <div class="w-1/2 px-1">
                    <a href="#" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://i.ibb.co/Fbqswv6/beach-gab17f458c-1920.jpg) center; background-size: cover;">
                        <div class="h-24"></div>
                        <h3 class="text-lg font-bold text-white leading-tight">Las playas que tenemos para ti!</h3>
                    </a>
                    <a href="#" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://i.ibb.co/tK8j8Pz/cancun-nightclubs-zone.jpg) center; background-size: cover;">
                        <div class="h-32"></div>
                        <h3 class="text-lg font-bold text-white leading-tight">Vida Nocturna. Cancún,Qroo!</h3>
                    </a>
                </div>
                <div class="w-1/2 px-1">
                    <a href="#" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://i.ibb.co/PDK0Df4/Mirador-Canc-n-10.jpg) center; background-size: cover;">
                        <div class="h-32"></div>
                        <h3 class="text-lg font-bold text-white leading-tight">Mirador Cancún, Playa Delfines!</h3>
                    </a>
                    <a href="#" class="block mb-2 p-5 rounded overflow-hidden transform transition-all duration-300 scale-100 hover:scale-95" style="background: url(https://i.ibb.co/T2hBLsk/nueva-rueda-de-la-fortuna-de-cancun-soportara-huracanes-categoria-5-jpg-423682103.jpg) center; background-size: cover;">
                        <div class="h-24"></div>
                        <h3 class="text-lg font-bold text-white leading-tight">Rueda de la fortuna, Plaza la Isla!</h3>
                    </a>
                </div>
            </div>
        </div>




        <app-footer></app-footer>